.venv/
*.tar.gz
# Copyrighted magazine material: personal reference only, never committed.
inbox/
magazine_archive/
probe_fashion/
catalog_public/
catalog_local/
magazine_pd/
magazine_urls/
magazine_urls.html
